{% extends "app/layout.html" %}

{% block content %}

<h2>{{ eazycom }}</h2>
<h3>{{ message }}</h3>

<address>
    <b> Eazycom Software e Soluções<br /> <br/> </b>
    
   Avenida Rudge, 315 <br />
   Telefone: 32548300
    
</address>

<address>
    <strong>Victor Souza Siqueira:</strong>   <a href="mailto:victor.siqueira@it.com">victor@it.com</a><br />
    <strong>Jaqueline Cerqueira de Abreu:</strong> <a href="mailto:jaqueline.cerqueira@it.com">Jaqueline@comercial.com</a> <br/>
    <strong>Gabriel Luís Gomes:</strong> <a href="mailto:gabriel.gomes@it.com">Gabriel@cloud.com</a> 
</address>

{% endblock %}
